In [16]:
from pandas import DataFrame

from ai_tools.helpers import create_data_frame_from_path, split_stratified_into_train_val_test

PATH_TO_DATASET: str = '/datasets/serialized_dataset'
df: DataFrame = create_data_frame_from_path(PATH_TO_DATASET)

df.head()

,path,instrument,pitch,instrument_label,pitch_label
0,/datasets/serialized_dataset/synth/synth_A_004...,synth,A,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,/datasets/serialized_dataset/reed/reed_C_00389...,reed,C,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,/datasets/serialized_dataset/flute/flute_C#_00...,flute,C#,"[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
3,/datasets/serialized_dataset/piano/piano_C#_00...,piano,C#,"[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
4,/datasets/serialized_dataset/brass/brass_D#_00...,brass,D#,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."

In [22]:
df_train, df_val, df_test = split_stratified_into_train_val_test(df)  # type: DataFrame, DataFrame, DataFrame

<class 'pandas.core.frame.DataFrame'>

In [37]:
print(df_train.instrument.value_counts())

organ     30
reed      30
string    30
flute     30
guitar    30
vocal     30
piano     30
synth     30
bass      30
brass     30
Name: instrument, dtype: int64